/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./web/themes/custom/my_custom_theme/components/_example/example.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
div.test {
  background-color: #18171B;
  color: #FF8400;
}

div.test-2 {
  background-color: #18171B;
  color: #56DB3A;
}

div.test-3 {
  background-color: #18171B;
  color: #1299DA;
}
