div.test {
  background-color: #18171B;
  color: #FF8400;

  &.cool {
    background: #1299DA;
  }
}

div.test-2 {
  background-color: #18171B;
  color: #56DB3A;
}

div.test-3 {
  background-color: #18171B;
  color: #1299DA;
}
